<div class="container">
  <div style="text-align: center;display: table-cell;vertical-align: middle;">
      <img src="/images/logo.png" alt="">
  </div>

  <% if (isAdmin) {%>
    <div style="text-align:center;">
      <div>Developer Tools:</div>
      <div class="control_button" id="add_courseButton" onclick="addCourse()">Add Course +</div>
      <div class="control_button" id="del_courseButton" onclick="delCourse()">Delete Course +</div>
      <div class="control_button" id="add_taButton" onclick="addTA()">Add TA +</div>
      <div class="control_button" id="del_taButton" onclick="delTA()">Delete TA +</div>
      <a href="./updateCourse"><button class="control_button">Update course +</button></a>
    </div>
  <% } %>

  <form action="/addCourse" method="post" id="grid_addition" style="display: none;">
    <br>
    <div>Add a Course Here!</div>
    <label for="prof_name">Professor (Ex. First Last)</label>
    <input type="text" name="prof_name" value="" required>
    <br>
    <label for="department">Department/Program (Ex. ANTH)</label>
    <input type="text" name="department" value="" required>
    <br>
    <label for="courseid">Course ID (EX. ANTH_1A)</label>
    <input type="text" name="courseid" value=""required>
    <br>
    <label for="prof_hours">Professsor's Office Hours (EX. T:8am-1pm, R:1pm-2pm)</label>
    <input type="text" name="prof_hours" value=""required>
    <br>
    <label for="prof_office">Professsor's Office Location (EX. Olin-Sang 101)</label>
    <input type="text" name="prof_office" value=""required>
    <br>
    <label for="Monday9to10">Availbility of the Office Hour from 9 to 10, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday9to10" value=""required>
    <br>
    <label for="Monday10to11">Availbility of the Office Hour from 10 to 11, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday10to11" value=""required>
    <br>
    <label for="Monday11to12">Availbility of the Office Hour from 11 to 12, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday11to12" value=""required>
    <br>
    <label for="Monday12to13">Availbility of the Office Hour from 12 to 13, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday12to13" value=""required>
    <br>
    <label for="Monday13to14">Availbility of the Office Hour from 13 to 14, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday13to14" value=""required>
    <br>
    <label for="Monday14to15">Availbility of the Office Hour from 14 to 15, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday14to15" value=""required>
    <br>
    <label for="Monday15to16">Availbility of the Office Hour from 15 to 16, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday15to16" value=""required>
    <br>
    <label for="Monday16to17">Availbility of the Office Hour from 16 to 17, Monday (0 is not available, 1 is available)</label>
    <input type="Number" name="Monday16to17" value=""required>
    <br>
    <label for="Tuesday9to10">Availbility of the Office Hour from 9 to 10, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday9to10" value=""required>
    <br>
    <label for="Tuesday10to11">Availbility of the Office Hour from 10 to 11, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday10to11" value=""required>
    <br>
    <label for="Tuesday11to12">Availbility of the Office Hour from 11 to 12, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday11to12" value=""required>
    <br>
    <label for="Tuesday12to13">Availbility of the Office Hour from 12 to 13, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday12to13" value=""required>
    <br>
    <label for="Tuesday13to14">Availbility of the Office Hour from 13 to 14, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday13to14" value=""required>
    <br>
    <label for="Tuesday14to15">Availbility of the Office Hour from 14 to 15, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday14to15" value=""required>
    <br>
    <label for="Tuesday15to16">Availbility of the Office Hour from 15 to 16, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday15to16" value=""required>
    <br>
    <label for="Tuesday16to17">Availbility of the Office Hour from 16 to 17, Tuesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Tuesday16to17" value=""required>
    <br>
    <label for="Wednesday9to10">Availbility of the Office Hour from 9 to 10, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday9to10" value=""required>
    <br>
    <label for="Wednesday10to11">Availbility of the Office Hour from 10 to 11, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday10to11" value=""required>
    <br>
    <label for="Wednesday11to12">Availbility of the Office Hour from 11 to 12, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday11to12" value=""required>
    <br>
    <label for="Wednesday12to13">Availbility of the Office Hour from 12 to 13, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday12to13" value=""required>
    <br>
    <label for="Wednesday13to14">Availbility of the Office Hour from 13 to 14, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday13to14" value=""required>
    <br>
    <label for="Wednesday14to15">Availbility of the Office Hour from 14 to 15, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday14to15" value=""required>
    <br>
    <label for="Wednesday15to16">Availbility of the Office Hour from 15 to 16, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday15to16" value=""required>
    <br>
    <label for="Wednesday16to17">Availbility of the Office Hour from 16 to 17, Wednesday (0 is not available, 1 is available)</label>
    <input type="Number" name="Wednesday16to17" value=""required>
    <br>
    <label for="Thursday9to10">Availbility of the Office Hour from 9 to 10, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday9to10" value=""required>
    <br>
    <label for="Thursday10to11">Availbility of the Office Hour from 10 to 11, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday10to11" value=""required>
    <br>
    <label for="Thursday11to12">Availbility of the Office Hour from 11 to 12, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday11to12" value=""required>
    <br>
    <label for="Thursday12to13">Availbility of the Office Hour from 12 to 13, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday12to13" value=""required>
    <br>
    <label for="Thursday13to14">Availbility of the Office Hour from 13 to 14, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday13to14" value=""required>
    <br>
    <label for="Thursday14to15">Availbility of the Office Hour from 14 to 15, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday14to15" value=""required>
    <br>
    <label for="Thursday15to16">Availbility of the Office Hour from 15 to 16, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday15to16" value=""required>
    <br>
    <label for="Thursday16to17">Availbility of the Office Hour from 16 to 17, Thursday (0 is not available, 1 is available)</label>
    <input type="Number" name="Thursday16to17" value=""required>
    <br>
    <label for="Friday9to10">Availbility of the Office Hour from 9 to 10, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday9to10" value=""required>
    <br>
    <label for="Friday10to11">Availbility of the Office Hour from 10 to 11, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday10to11" value=""required>
    <br>
    <label for="Friday11to12">Availbility of the Office Hour from 11 to 12, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday11to12" value=""required>
    <br>
    <label for="Friday12to13">Availbility of the Office Hour from 12 to 13, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday12to13" value=""required>
    <br>
    <label for="Friday13to14">Availbility of the Office Hour from 13 to 14, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday13to14" value=""required>
    <br>
    <label for="Friday14to15">Availbility of the Office Hour from 14 to 15, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday14to15" value=""required>
    <br>
    <label for="Friday15to16">Availbility of the Office Hour from 15 to 16, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday15to16" value=""required>
    <br>
    <label for="Friday16to17">Availbility of the Office Hour from 16 to 17, Friday (0 is not available, 1 is available)</label>
    <input type="Number" name="Friday16to17" value=""required>
    <br>
    <input class="button" type="submit" value="submit">
  </form>

  <form action="/deleteCourse" method="post" id="del_course" style="display: none;">
    <br>
    <div>Delete a Course Here!</div>
    <label for="prof_name">Professor (Ex. First Last)</label>
    <input type="text" name="prof_name" value=""required>
    <br>
    <label for="courseid">Course ID (EX. ANTH_1A)</label>
    <input type="text" name="courseid" value=""required>
    <br>
    <input class="button" type="submit" value="submit">
  </form>

  <form action="/addTA" method="post" id="add_ta" style="display: none;">
    <br>
    <div>Add a TA Here!</div>
    <label for="prof_name">Professor (Ex. First Last)</label>
    <input type="text" name="prof_name" value=""required>
    <br>
    <label for="courseid">Course ID (EX. ANTH_1A)</label>
    <input type="text" name="courseid" value=""required>
    <br>
    <label for="ta_name">TA name (Ex. First Last)</label>
    <input type="text" name="ta_name" value=""required>
    <br>
    <label for="ta_hours">TA hours (Ex. M:3pm-4pm)</label>
    <input type="text" name="ta_hours" value=""required>
    <br>
    <input class="button" type="submit" value="submit">
  </form>

  <form action="/delTA" method="post" id="del_ta" style="display: none;">
    <br>
    <div>Delete a TA Here!</div>
    <label for="prof_name">Professor (Ex. First Last)</label>
    <input type="text" name="prof_name" value=""required>
    <br>
    <label for="courseid">Course ID (EX. ANTH_1A)</label>
    <input type="text" name="courseid" value=""required>
    <br>
    <label for="ta_name">TA name (Ex. First Last)</label>
    <input type="text" name="ta_name" value=""required>
    <br>
    <input class="button" type="submit" value="submit">
  </form>

  <% if (isAdmin) {%>
    <hr>
  <% } %>

  <form action="/searchGrid" method="post" id="searchGrid">
    <div style="text-align: center;">Find Your Class!</div>
    <div>
        <label for="prof_name">Professor (Ex. First Last)</label>
        <input type="text" name="prof_name" value="">
        <br>
        <label for="courseid">Course ID (EX. ANTH_1A)</label>
        <input type="text" name="courseid" value="">
        <br>
       <!-- <label for="ta_name">TA name (Ex. First Last)</label>
        <input type="text" name="ta_name" value=""required>
        <br>-->
        <input class="button" type="submit" value="Search">
    </div>
  </form>

  <div style="text-align: center;">
    <div>Sort Grid By:</div>
    <div>
      <span class="control_button" id="Department_ASC"><a href="/sort/department/1">Department ASC</a></span>
      <span class="control_button" id="Department_DESC"><a href="/sort/department/-1">Department DESC</a></span>
      <span class="control_button" id="Professor_ASC"><a href="/sort/prof_name/1">Professor ASC</a></span>
      <span class="control_button" id="Professor_DESC"><a href="/sort/prof_name/-1">Professor DESC</a></span>
      <span class="control_button" id="Course_ID_ASC"><a href="/sort/courseid/1">Course ID ASC</a></span>
      <span class="control_button" id="Course_ID_DESC"><a href="/sort/courseid/-1">Course ID DESC</a></span>
    </div>
  </div>

    <br>
  <div class="grid_container">
    <div class="grid_header" style="grid-column: first/second;">Department</div>
    <div class="grid_header" style="grid-column: second/third;">Professor</div>
    <div class="grid_header" style="grid-column:third/fourth;">Course ID</div>
    <div class = "grid_header" style="grid-column:fourth/fifth;">TAs</div>
    <div class = "grid_header" style="grid-column: fifth/sixth;">Schedule</div>


    <!--<div class="grid_content">Computer Sciece</div>
    <div class="grid_content"><a href="/test_prof_profile">Antonella Dillilo</a></div>
    <div class="grid_content"><a href="/test_class_schedule">Data Structures</a></div>
    <div class="grid_content">Test</div> -->


    <% grid_db.forEach(element => {%>
      <div class="grid_content"><%= element.department %></div>
      <div class="grid_content"><%= element.prof_name %><div class="grid_content_hidden">Office: <%= element.prof_office %> <br> Hours: <%= element.prof_hours %></div></div>
      <div class="grid_content"><%= element.courseid %></div>
      <div class="grid_content">
        <% element.tas.forEach(ta => {%>
        <%= ta.ta_name %>:  <%= ta.ta_hours %>
        <br>
        <% }) %>
      </div>
      <div class = "grid_content"><a href="./pro/<%= element._id%>">Schedule with this class</a></div>

      <!--<div class="grid_content"><a href="pro"> Schedule w/ Professor</a></div>-->
    <% }) %>

  </div>

</div>

<script>
  //adding courses button
  var openAdd = false;
  function addCourse(){
    if(openAdd == false){
      closeButtons();
      document.getElementById("grid_addition").style.display = "block";
      document.getElementById("add_courseButton").innerHTML = "Add Course -";
      openAdd = true;
    }
    else{
      document.getElementById("grid_addition").style.display = "none";
      document.getElementById("add_courseButton").innerHTML = "Add Course +";
      openAdd = false;
    }
  }

  //delete course button
  var openDelCourse = false;
  function delCourse(){
    if(openDelCourse == false){
      closeButtons();
      document.getElementById("del_course").style.display = "block";
      document.getElementById("del_courseButton").innerHTML = "Delete Course -";
      openDelCourse = true;
    }
    else{
      document.getElementById("del_course").style.display = "none";
      document.getElementById("del_courseButton").innerHTML = "Delete Course +";
      openDelCourse = false;
    }
  }

  //adding TAs button
  var openAddTA = false;
  function addTA(){
    if(openAddTA == false){
      closeButtons();
      document.getElementById("add_ta").style.display = "block";
      document.getElementById("add_taButton").innerHTML = "Add TA -";
      openAddTA = true;
    }
    else{
      document.getElementById("add_ta").style.display = "none";
      document.getElementById("add_taButton").innerHTML = "Add TA +";
      openAddTA = false;
    }
  }

  //delete TAs button
  var openDelTA = false;
  function delTA(){
    if(openDelTA == false){
      closeButtons();
      document.getElementById("del_ta").style.display = "block";
      document.getElementById("del_taButton").innerHTML = "Delete TA -";
      openDelTA = true;
    }
    else{
      document.getElementById("del_ta").style.display = "none";
      document.getElementById("del_taButton").innerHTML = "Delete TA +";
      openDelTA = false;
    }
  }

  //closes all developer buttons when a new one is opened
  function closeButtons(){
    openAdd = true;
    addCourse();
    openDelCourse = true;
    delCourse();
    openAddTA = true;
    addTA();
    openDelTA = true;
    delTA();
  }

</script>
