<div class = "container">
    <h1>Your Profile</h1>
    <br>

    <div class = "row">
        <div class = "col-sm-4">
            <table class = table table-bordered>
                <tbody>
                <tr>
                    <td>
                        Your name
                    </td>
                    <td>
                        <%= user.googlename%>
                    </td>
                </tr>
                <tr>
                    <td>
                        Your email
                    </td>
                    <td>
                        <%= user.googleemail%>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center;">Your Courses</div>
    <div class="grid_container">
            <div class="grid_header" style="grid-column: first/second;">Department</div>
            <div class="grid_header" style="grid-column: second/third;">Professor</div>
            <div class="grid_header" style="grid-column:third/fourth;">Course ID</div>
            <div class = "grid_header" style="grid-column:fourth/fifth;">TAs</div>

           <!-- <% // myClasses.forEach(element => {%>
                <div class="grid_content"><%= // element.department %></div>
                <div class="grid_content"><%=// element.prof_name %><div class="grid_content_hidden">Office: <%= // element.prof_office %> <br> Hours: <%= // element.prof_hours %></div></div>
                <div class="grid_content"><%= //element.courseid %> </div>
                <div class="grid_content">
                  <% // element.tas.forEach(ta => {%>
                  <%= //ta.ta_name %>:  <%= //ta.ta_hours %>
                  <br>
                  <% // }) %>
                </div>
              <% //}) %>--> 
    </div>
</div>